{
    "extends": "airbnb",
    "plugins": [
        "optimize-regex",
        "immutable",
        "complexity"
    ],
    "rules": {
        "complexity/comment": [
            "warn"
        ]
    }
}